*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

/* Header and banner section styles */
.banner{
  background: url(../images/banner/banner3.png);
  width: 1575px;
  height: 808px;
}
.banner-title{
  padding: 215px 230px 24px 845px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #FFFFFF;
}
.banner-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  padding: 0 230px 32px 875px;
  color: #FFFFFF;
}
.btn-primary{
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #005FAC;
}
#btn-contact{
  text-align: right;
  padding: 0 230px 165px;
}

/* Section one styles */
.section-container{
  display: flex;
  gap: 80px;
  align-items: center;
}
.section-one-item{
  padding: 370px 320px 215px 80px;
}
.section-container img{
  padding: 130px 0 130px 200px;
  width: 570px;
  height: 720px;
}
.section-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 25px;
  color: #151414;
}
.section-sub{
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
  color: #444343;
}
.section-description{
  font-size: 16px;
  line-height: 30px;
  color: #444343;
}

/* Section two styles */
.section-heading{
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.plans-container{
  display: flex;
  padding: 0 230px 130px 230px;
}
.section-item{
  padding: 0 55px 100px 55px;
  text-align: center;
}
.section-item img{
  width: 92px;
  height: 92px;
}
.plan-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
  color: #151414;
}
.plan-description{
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #737272;
}

/* Section three styles */
.banner-container{
  margin: 0 230px 130px 230px;
  background-image: url(../images/gradient1.png), url(../images/watch.png);
  height: 300px;
  border-radius: 8px;
}
.ban-title{
  padding: 60px 600px 20px 65px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}
#btn-call{
  padding: 0 920px 60px 65px;
}

/* Section four styles */
.contact-container{
  display: flex;
  background: #151414;
  height: 575px;
}
.contact-ione{
  padding: 130px 300px 130px 220px;
}
.contact-itwo{
  padding: 130px 260px 240px 0;
}
.contact-title{
  font-weight: 700;
  font-size: 45px;
  color: #F8F8F8;
}
.contact-description{
  margin-top: 15px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.email-adress{
  margin-top: 25px;
  width: 185px;
  height: 25px;
  color: #FFFFFF;
}
.phone-number{
  margin-top: 15px;
  margin-bottom: 30px;
  width: 185px;
  height: 25px;
  color: #FFFFFF;
}
.contact-ione a{
  text-decoration: none;
}
.sec-title{
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.contact-itwo input{
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
}

